:root {
  --fpupdatedbg: white;
  --fpupdatedcolor: black;
  --fparticlecolor: black;
}

#app-root-2023-kurssipaketti {



  #frontpage-updated {
    color: var(--fpupdatedcolor);
    background: var(--fpupdatedbg);

    font-family: "Yle Next", sans-serif;
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }


    .gradient {
      position: absolute;
      height: 40vh;
      width: 100%;

    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    .hero-grid img {
      height: 300px;
    width: auto;
    margin: auto;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    article * {
      margin: 0;
      color: var(--fparticlecolor);
    }
 

    .wrapper {
      max-width: 1000px;
      margin: 0 auto;
      padding: 15px;
    }

    p {
      letter-spacing: 0;
      margin-bottom: 24px;
      font-size: 18px;
      line-height: 27px;
    }

    h3 {
      font-size: 1.8em;
      margin-bottom: 24px;
      line-height: 1.24;
      font-weight: 600;
    }

    h1 {
      font-size: unset;
      margin: 0;
      font-weight: 800;
    }

    h2 {
      font-size: 2em;
      font-weight: 800;
      margin: 0;
      margin-bottom: 30px;
      line-height: 1.3em;
    }


    .wrapper-container {
      container: wrapper / inline-size;
    }

    .wrapper {
      --gap: clamp(1rem, 5cqi, 2rem);
      display: grid;
      gap: var(--gap);
    }

    #kurssi-buttons {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    @container wrapper (min-width: 800px) {
      .hero-grid h2 {
        line-height: unset;
      }
    }

    @container wrapper (min-width: 1250px) {
      .wrapper {
        grid-template-columns: 4fr;
      }
    }

    .grid-container {
      container: layout / inline-size;
    }

    .grid {
      display: grid;
      gap: var(--gap);
      gap: 10px;
      margin-top: var(--gap);
    }

    .hero-grid {
      display: grid;
      gap: var(--gap);
      padding-bottom: var(--gap);
    }

    // this hack is needed because this image is circled --> cannot be cropped 
    picture[data-image="39-12924056655bf4eb0c91"] img {
      object-fit: contain !important;
    }

    @container layout (inline-size > 800px) {
      .grid {
        grid-template-columns: repeat(3, 1fr);
      }

      li.article-container:not([data-wide="true"]) article {
        grid-template-rows: 1fr 1fr min-content;
      }

      .article-container[data-wide="true"] {
        grid-column: span 3;
      }

      .hero-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "tekstit kuva"
          "napit napit";
        height: fit-content;
        padding-bottom: 0;

        picture {
          place-self: center;
        }

        picture img {

          height: 100%;
          max-height: max(300px, 50vh);
          width: auto;
          object-fit: contain;
          place-self: center;

        }

        .hero-tekstit {
          grid-area: tekstit;
          gap: 5px;
          display: grid;
          height: fit-content;
        }

        #kurssi-buttons {
          grid-column: span 2;
        }

        .fp_button {
          padding-left: 16px;
          padding-right: 16px;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .article-container {
      container: article / inline-size;
    }

    article {
      display: grid;
      gap: calc(var(--gap) * 0.6);
      text-align: center;

      border-radius: 6px;
      height: 100%;

      img {
        object-fit: cover;
        max-height: 40vh;
      }

      div {
        padding: calc(var(--gap)) calc(var(--gap));
        padding-bottom: 0;

      }

      button.fp_button {
        margin: calc(var(--gap) * 2) 0;
        margin-top: 0;
        font-size: 18px;
        padding-left: 18px;
        padding-right: 18px;
      }
    }



    @container article (inline-size > 800px) {
      article[data-wide="true"] {
        grid-template-columns: 3fr 2fr;
        gap: var(--gap);
        row-gap: 0;
        text-align: left;
        padding: 0;

        div {
          display: grid;
          order: 1;
          padding: calc(var(--gap)) calc(var(--gap))
        }

        h3 {
          font-size: 2.4em;
        }

        picture {
          order: 2;
        }

        picture img {
          place-self: center;
          width: 100%;
          height: 100%;
          max-height: unset;
          object-fit: cover;
        }



        h3 {}

        p {
          letter-spacing: 0;
          margin-bottom: 24px;
          font-size: 18px;
          line-height: 27px;
        }

       
        .fp_button {
          margin-top: calc(var(--gap));
          margin-bottom: 0;
        }
      }
    }
  }
}