@import 'ydd_overrides.less';
@import 'tehtava_overrides.less';
@import 'https://tehtava-ui.apps-test.yle.fi/static/css/embed.bfff28e3.css';

@font-face {
  font-family: Yle Next Heavy;
  src: url('./../assets/font/YleNext-Heavy.otf');
}
@font-face {
  font-family: Yle Next Regular;
  src: url('./../assets/font/YleNext-Regular.otf');
}
@font-face {
  font-family: Yle Next Bold;
  src: url('./../assets/font/YleNext-Bold.otf');
}
@font-face {
  font-family: Yle Next Heavy;
  src: url('./../assets/font/YleNext-Heavy.otf');
}

.app-root-2023-kurssipaketti {
  /* Antti kommentoi paddingin pois 3.6., etusivulle tuli tyhjä palkki ylös */
  /* padding: 20px 0; */
  .background_video {
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    z-index: 1;
  }
  .course_selection_container {
    box-sizing: border-box;
    margin: auto auto;
    max-width: 688px;
    padding: 0 20px;
    text-align: center;
    .course_selection_video_container {
      margin: auto auto 20px auto;
      max-width: 400px;
      a {
        color: #000;
        text-decoration: none;
        &:hover {
          video {
            opacity: 0.75;
          }
          text-decoration: underline;
        }
        h2 {
          color: #000;
          margin: auto auto 5px auto;
        }
        .course_selection_video {
          width: 100%;
          &.dark {
            display: none;
          }
          &.light {
            display: block;
          }
        }
      }
    }
  }

  .content_container {
    box-sizing: border-box;
    margin: auto auto;
    position: relative;
    z-index: 2;
    h1 {
      box-sizing: border-box;
      font-family: Yle Next Heavy;
      font-size: 36px;
      line-height: 36px;
      margin: auto auto 40px auto;
      max-width: 1220px;
      padding: 0 20px;
      text-align: center;
      @media all and (max-width: 590px) {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .main_video_container {
      position: relative;
      &.dark {
        &:after {
          background-image: url('./../assets/img/wave_black.png');
        }
      }
      &:after {
        background-image: url('./../assets/img/wave_white.png');
        background-size: 100% 100%;
        bottom: -1px;
        content: '';
        display: block;
        height: 30px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
      }
      video {
        box-sizing: border-box;
        display: block;
        margin: auto auto 20px auto;
        max-width: 100%;
        padding: 0 20px;
        width: 100%;
      }
    }
    .main_image_container {
      box-sizing: border-box;
      margin: auto auto 20px auto;
      max-width: 590px;
      padding: 0 20px;
      &.full {
        max-width: 100%;
        width: 100%;
      }
      img {
        width: 100%
      }
    }
    >h2 {
      font-family: Yle Next Heavy;
      font-size: 30px;
      margin: 40px auto 20px auto;
      max-width: 550px;
      text-align: center;
      @media all and (max-width: 590px) {
        margin: auto 20px 20px 20px;
      }
    }
    p.subtitle {
      box-sizing: border-box;
      color: #fff;
      margin: 20px auto 40px auto;
      max-width: 550px;
      padding: 0 20px;
      @media all and (max-width: 590px) {
        margin: auto 20px 20px 20px;
      }
    }
    .content {
      background-color: #fff;
      color: #222;
      margin: auto auto 20px auto;
      max-width: 550px;
      padding: 20px 0;
      &:last-child {
        line-height: 22px;
      }
      @media all and (max-width: 590px) {
        margin: auto 20px 20px 20px;
      }
      h3 {
        font-family: Yle Next Bold;
        font-size: 22px;
        margin: 0 0 20px 0;
        padding: 0 20px;
      }
      p {
        font-family: Yle Next Regular;
        font-size: 16px;
        margin: 0 0 20px 0;
        padding: 0 20px;
        &:last-child {
          margin-bottom: 1px;
        }
        a {
          color: #000;
          font-weight: 600;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
        strong {
          font-family: Yle Next Bold;
        }
      }
      ol,
      ul {
        font-family: Yle Next Regular;
        font-size: 16px;
        margin: 0 0 20px 38px;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          color: #222;
          &:marker {
            color: #222;
            font-weight: bold;
          }
        }
      }
      ul:has(img) {
        font-family: Yle Next Bold;
        font-size: 16px;
        list-style: none;
        vertical-align: middle;
        li {
          align-items: center;
          display: flex;
          flex-direction: row;
          margin-bottom: 20px;
          img {
            height: 60px;
            margin-right: 10px;
            vertical-align: middle;
            width: 60px;
          }
        }
      }
    }
    .exercise_container {
      margin: auto auto 20px auto;
      .exercise_content {
        box-sizing: border-box;
        margin: auto auto;
        max-width: 550px;
        padding: 20px;
        .exercise_withbg {
          button {
            background-color: #e1e1f0;
            &:hover {
              opacity: 0.7;              
            }
          }
        }
      }
      @media all and (max-width: 590px) {
        margin: auto 20px 20px 20px;
      }
      h3 {
        font-family: Yle Next Bold;
        font-size: 30px;
        margin: 0 0 5px 0;
        text-align: center;
      }
      h4 {
        font-family: Yle Next Bold;
        font-size: 18px;
        margin: 0 0 20px 0;
        text-align: center;
      }
      p {
        margin: 0 0 20px 0;
      }
      .result_container {
        .result_row {
          font-family: Yle Next Regular;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
      .word_cloud_container {
        margin: 20px auto;
        h3 {
          margin: 0 0 10px 0;
          text-align: center;
        }
        .word_cloud {
          background-color: #fff;
          padding: 20px;
          text-align: center;
          .rank_value {
            display: inline-block;
            font-family: Yle Next Regular;
            font-size: 16px;
            position: relative;
            &.rank_0_value {
              color: #4e4e96;
            }
            &.rank_1_value {
              color: #333;
            }
          }
        }
      }
      .helper_list {
        appearance: none;
        background-color: #4e4e96;
        background-image: url('./../assets/img/arrow.png');
        background-position: 97% 50%;
        background-repeat: no-repeat;
        background-size: 20px;
        color: #fff;
        font-family: Yle Next Regular;
        font-size: 16px;
        margin-bottom: 40px;
        padding: 15px 10px;
        width: 100%;
        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
        }
      }
      .button_container {
        margin: auto auto;
        text-align: center;
        button.ready {
          background-color: #4e4e96;
          border-radius: 40px;
          border: 0;
          color: #fff;
          cursor: pointer;
          font-family: Yle Next Regular;
          font-size: 16px;
          padding: 15px 30px;
          &:disabled {
            background-color: #ccc;
            cursor: default;
          }
        }
      }
      div,
      p {
        font-family: Yle Next Regular;
        font-size: 16px;
      }
      .input_container {
        .input_field_container {
          padding-bottom: 20px;
          label {
            align-items: center;
            display: flex;
            font-size: 16px;
            span {
              margin-right: 5px;
            }
            .number {
              font-family: Yle Next Bold;
              font-size: 22px;
            }
            input[type=text] {
              background-color: #fff;
              border-radius: 5px;
              border: 2px solid #a8b1e2;
              display: flex;
              font-family: Yle Next Regular;
              font-size: 16px;
              padding: 10px 10px;
              width: 100%;
            }
          }
          .rank_container {
            font-family: Yle Next Regular;
            div {
              margin-bottom: 10px;
              label {
                cursor: pointer;
                input {
                  display: inline-block;
                  margin-right: 5px;
                }
              }
            }
          }
          h4 {
            margin: 10px 0 10px 0;
            .value {
              font-family: Yle Next Regular;
            }
          }
        }
      }
      .result_container {
        margin: 40px 0;
      }
      .exercise_toggler {
        text-align: center;
        button {
          background-color: #fff;
          border-radius: 5px;
          border: 0;
          cursor: pointer;
          display: inline-block;
          margin: auto auto;
          outline: none;
          padding: 20px 60px 20px 60px;
          position: relative;
          vertical-align: middle;
          width: 100%;
          @media all and (max-width: 590px) {
            // padding: 20px 20px 20px 20px;
          }
          &.exercise_button_keskittyminen {
            &:hover {
              background-color: #e6f7ec;
            }
          }
          &.exercise_button_muisti {
            &:hover {
              background-color: #f9f5df;
            }
          }
          &.exercise_button_rentoutuminen {
            &:hover {
              background-color: #ede5ee
            }
          }
          &.with_arrow {
            &:before {
              color: #9a9a9a;
              content: '❯';
              font-size: 20px;
              line-height: 20px;
              position: absolute;
              right: 25px;
              top: calc(50% - 10px);
              transition-duration: 0.2s;
              transition-property: right, transform;
              @media all and (max-width: 590px) {
                // display: none;
              }
            }
            &:hover {
              &:before {
                color: #9a9a9a;
                right: 15px;
                transition-duration: 0.5s;
                transition-property: right, transform;
              }
            }
            &.active2 {
              border-radius: 5px 5px 0 0;
              &:after {
                box-sizing: border-box;
                content:'';
                position: absolute;
                left: 0;
                display: inline-block;
                margin-top: 20px;
                padding: 0 0;
                width: calc(100% - 40px);
                left: 20px
              }
            }
            &.active {
              &:hover {
                &:before {
                  right: 25px;
                }
              }
              &:before {
                content: '❯';
                transform: rotate(90deg);
              }
            }
          }
          h3 {
            color: #222;
            font-size: 22px;
            font-weight: 600;
            margin: auto auto auto auto;
          }
          h4 {
            color: #222;
            font-size: 18px;
            font-weight: 400;
            margin: 10px auto auto auto;
          }
        }
      }
      .exercise_description {
        background-color: #fff;
        margin: auto auto;
        overflow: hidden;
        padding: 20px 20px 0 20px;
        transition: height .5s ease;
        &:not(.active) {
          display: none;
        }
        p {
          color: #222;
          margin-bottom: 20px auto 20px auto;
          a {
            color: #000;
            font-weight: 600;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
        ol,
        ul {
          margin-bottom: 20px;
          margin-left: 18px;
          padding: 0;
          li {
            color: #222;
            margin-bottom: 20px;
            &:marker {
              color: #222;
              font-weight: bold;
            }
          }
        }
        figure.areena_container {
          margin: 0 0 20px 0;
          padding: 0;
          figcaption {
            .caption {
              font-size: 12px;
            }
            a {
              color: #000;
              font-weight: 600;
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        .image_container {
          margin: 0 0 20px 0;
          figure {
            padding: 0;
            margin: 0;
            img {
              width: 100%;
            }
            figcaption {
              .caption {
                font-size: 12px;
              }
              .copyright {
                font-size: 12px;
              }
            }
          }
        }
        .exercise_toggler {
          margin-bottom: 20px;
          button {
            background-color: #fff;
            border: 2px solid #000;
            color: #000;
            font-size: 12px;
            font-weight: bold;
            padding: 10px 15px 10px 15px;
            text-transform: uppercase;
            width: auto;
            &:hover {
              background-color: #ddd;
            }
          }
        }
      }
    }
    .poll_container {
      background-color: #fff;
      box-sizing: border-box;
      margin: auto auto 20px auto;
      max-width: 550px;
      padding: 20px;
      @media all and (max-width: 590px) {
        margin: auto 20px 20px 20px;
      }
      ul {
        margin: 20px 0 20px 38px;
        padding: 0;
      }
    }
  }
  .comments_container {
    box-sizing: border-box;
    margin: auto auto;
    max-width: 1220px;
    padding: 0 20px;
    position: relative;
    z-index: 3;
  }
}

@import 'basics.less';
// @import 'darkmode.css';

