@import 'ydd_overrides.less';
@import 'tehtava_overrides.less';
@import 'https://tehtava-ui.apps-test.yle.fi/static/css/embed.bfff28e3.css';

.app-root-2023-kurssipaketti {
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }
  .content_container {
    background-color: #fff;
    box-sizing: border-box;
    margin: auto auto;
    max-width: 550px;
    padding: 20px;
    position: relative;
    z-index: 2;
    h2 {
      text-align: center;
      margin: auto auto 20px auto;
    }
    .exercise_container {
      .exercise_toggler {
        text-align: center;
        margin-bottom: 20px;
        button {
          background-color: #fff;
          border: 1px solid #000;
          margin: auto auto;
          width: 100%;
          max-width: 500px;
          display: inline-block;
          padding: 10px 15px;
          h3 {
            margin: auto auto 10px auto;
          }
          h4 {
            font-weight: 400;
            margin: auto auto auto auto;
          }
        }
      }
      .exercise_description {
        margin: auto auto;
        max-width: 500px;
        overflow: hidden;
        transition: height .5s ease;

        &:not(.active) {
          display: none;
        }
        p {
          margin: auto auto 15px auto;
        }
        .exercise_toggler {
          margin-bottom: 20px;
          button {
            width: auto;
          }
        }
      }
    }
  }
}

@import 'basics.less';

