@import 'ydd_overrides.less';
@import 'tehtava_overrides.less';
@import 'https://tehtava-ui.apps-test.yle.fi/static/css/embed.bfff28e3.css';

.app-root-2023-kurssipaketti {
  .background_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }
  .content_container {
    box-sizing: border-box;
    margin: auto auto;
    max-width: 550px;
    padding: 20px;
    position: relative;
    z-index: 2;
    h2 {
      text-align: center;
      color: #fff;
      margin: auto auto 20px auto;
    }
    .content {
      background-color: #fff;
      margin-bottom: 20px;
      padding: 20px 0;
      p {
        margin: 0 0 20px 0;
        padding: 0 20px;
        &:last-child {
          margin-bottom: 1px;
        }
      }
    }
    .exercise_container {
      margin-bottom: 20px;
      .exercise_toggler {
        text-align: center;
        button {
          background-color: #fff;
          border-radius: 5px;
          border: 0;
          cursor: pointer;
          display: inline-block;
          margin: auto auto;
          outline: none;
          padding: 10px 15px;
          position: relative;
          width: 100%;
          &.with_arrow {
            &:after {
              color: #666;
              content: '▶';
              font-size: 30px;
              line-height: 30px;
              position: absolute;
              right: 25px;
              top: calc(50% - 10px);
              transition-duration: 0.2s;
              transition-property: right, transform;
            }
            &:hover {
              background-color: #1ff0a4;
              &:after {
                right: 15px;
                transition-duration: 0.5s;
                transition-property: right, transform;
              }
            }
            &.active2 {
              border-bottom: 1px solid #ccc;
              border-radius: 5px 5px 0 0;
            }
            &.active {
              &:hover {
                &:after {
                  right: 25px;
                }
              }
              &:after {
                content: '▶';
                transform: rotate(90deg);
              }
            }
          }
          h3 {
            margin: auto auto 10px auto;
          }
          h4 {
            font-weight: 400;
            margin: auto auto auto auto;
          }
        }
      }
      .exercise_description {
        background-color: #fff;
        margin: auto auto;
        overflow: hidden;
        padding: 0 20px;
        transition: height .5s ease;
        &:not(.active) {
          display: none;
        }
        p {
        }
        .exercise_toggler {
          margin-bottom: 20px;
          button {
            background-color: #1ff0a4;
            width: auto;
          }
        }
      }
    }
  }
}

@import 'basics.less';

