#block-yddrasil-content {
  h1.ydd-article-headline {
    // text-align: center;
  }
  .ydd-author-list {
    
  }
  .ydd-body-content {
    .ydd-lead {

    }
  }
  .ydd-article-tags__details {
    padding: 0 20px;
  }
  ul.ydd-ul {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    li.ydd-ul__li {
      color: #000;
      &:before {
        display: none;
      }
    }
  }
  p.ydd-lead {
    color: #fff;
    padding: 20px 20px;
    text-align: center;
  }
  h2.ydd-heading-large {
    text-align: center;
  }
  div.ydd-factbox {
    background-color: #fff;
    color: #000;
    margin: 20px;
    .border-l-4  {
      border: 0;
    }
    .deco-line-title {
      &:after {
        display: none;
      }
    }
    &.ydd-factbox--closed {
      .ydd-factbox__content {
        &:after {
          background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 150%);
        }
      }
    }
  }
}